streamlit
pandas
numpy
matplotlib
plotly
scikit-learn
scipy
joblib
lightgbm
xgboost
catboost
rdkit
py3Dmol
umap-learn
reportlab
Pillow
pyyaml
streamlit-authenticator
torch
torchvision
torchaudio
torch-geometric
networkx
tqdm
seaborn